$black: #333333;
$red: #E81A2C;
$hover: #D00012;
$pressed: #D00012;
.hidden-block{position:absolute;left:-99999em;top:-99999em;}
/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;width:100%;min-width:320px;font-family:'FreeSet',sans-serif;background:#fff;color:$black;position:relative;font-size: 16px;line-height: 1.275;   }
img{vertical-align:bottom;border:0;max-width:100%;}
svg{fill:$black;}
.mbox{max-width:1176px;width:100%;margin:0 auto; padding: 0 12px;position:relative;z-index:1;}
.footer_placeholder{height: 200px;}
.footer{position:absolute;bottom:0;left:0;width:100%;z-index:2;overflow:hidden;}
.main.notmain{padding-top: 156px; position: relative; padding-bottom: 40px;}
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=number],
input[type=url],
textarea{border: 1px solid $black; background-color: #fff; width: 100%; height: 56px; padding: 0 20px;
    &::-webkit-input-placeholder    {color:$black; opacity:0.5; font-size: 14px;}
    &:-moz-placeholder              {color:$black; opacity:0.5; font-size: 14px;}
    &::-moz-placeholder             {color:$black; opacity:0.5; font-size: 14px;}
    &:-ms-input-placeholder         {color:$black; opacity:0.5; font-size: 14px;}
    &.error{border-color: $red;
        &::-webkit-input-placeholder    {color:$red;}
        &:-moz-placeholder              {color:$red;}
        &::-moz-placeholder             {color:$red;}
        &:-ms-input-placeholder         {color:$red;}
        & + i{border-color: $red;}
    }
}
textarea{padding: 10px 20px; min-height: 214px; height: auto; resize: none;}
a{text-decoration: none; color: $black;
    &:hover{color: #000;}
    &:active{color: $pressed;}
    &[color=red]{color: $red ;
        &:hover{color: $pressed;}
    }
}
button{padding: 0; border:none; background-color: transparent; cursor: pointer;
    &:hover{color: $hover;}
    &:active{color: $pressed;}
    svg{width: 100%; height: 100%; pointer-events: none;}
}
[color=red]{color: $red ;}
[color=black]{color: $black;}
[color=white]{color: #fff;}
button.btn,
a.btn,
.btn{color: #fff; text-align: center; height: 56px; line-height: 56px; min-width: 282px; display: inline-block; padding: 0 15px; background-color: $red; text-transform: uppercase; font-family: 'FreeSet'; font-weight: 700;
    &--full{width: 100%;}
    &:hover{
        background-color: $hover;
        svg{fill:#fff}
    }
    &:active{
        background-color: $pressed;
        svg{fill:#fff}
    }
    svg{width: 100%; height: 100%;}
    &--download{
        svg{width: 24px; height: 24px;}
    }
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
        font-display: auto;
    }
}
@include font-face('ArialBlack', 'ArialBlack', 400);
@include font-face('Arial', 'Arial', 400);
@include font-face('Arial', 'ArialBold', 700);
@include font-face('FreeSet', 'FreeSet', 400);
b,strong{font-family: 'Arial'; font-weight: 700; }
h1,h2,h3,h4,h5,h6{font-family: 'Arial'; font-weight: 700; letter-spacing: 0.05em;}
h1,
h2{font-size: 24px;}
h3{font-size: 22px;}
h4{font-size: 20px;}
h5{font-size: 14px;}
h6{font-size: 12px;}
.about{
    &__row{display: flex;   padding-top: 50px;}
    &__item{width: 33.33%; padding:24px;
        &:first-child{padding-left:  0;}
        &:last-child{padding-right: 0;}
    }
    &__title{display: flex; align-items: flex-start; min-height: 118px; font-size: 22px;
        span{font-size: 64px; font-family: 'Arial'; font-weight: 700;}
        b{display: inline-block; padding-top: 14px; padding-left: 12px;}
    }
}
.article{
    p{margin: 2em 0;}
    &__date{font-size: 12px; color: #000; margin-bottom: 34px;
        span{margin-right: 25px;}
    }
    &__tag{font-size: 12px; color: #9F9F9F; display: inline-block; margin-right: 15px;}
    &__slider{width: 100%; margin-bottom: 0;
        .card__prev{position: absolute; z-index: 300; bottom: 0; left: 0;}
        .card__next{position: absolute; z-index: 300;  bottom: 0; right: 0;}
        .slick-dots{position: relative;  bottom: auto; padding: 18px 0 6px; margin: 0;}
    }
    &__slider-wrap{width: 50%; margin-right: 2em; float: left;}
    &__list{display: flex;flex-wrap: wrap; margin: 0 -12px; padding-top: 34px;}
    &__item{width: 33.33%; padding: 12px; margin-top: 29px;
        &.filtered__text{border: 1px solid #F5F6F7; padding: 21px 15px 11px; margin: 24px 12px 0; width: calc(33.3333% - 24px);
            .article__date{margin-bottom: -3px;}
            .article__info{margin-top: 12px; height: 83px;}
            .btn--download{ margin-bottom: 33px; display: block;  }
            p{margin-bottom: 0;}
        }

    }
    &__img{width: 100%; height: 274px; margin-bottom: 13px;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__title{  width: 100%; margin: 11px 0 12px; }
    &__info{height: 62px; overflow: hidden; width: 100%; margin-bottom: 41px;}
}
.address{ display: flex; flex-wrap: wrap; padding-top: 47px; padding-bottom: 8px;
    &__item{padding: 25px 16px 10px; border: 1px solid #F5F6F7;  width: calc(50% - 12px); margin-bottom: 25px;
        &.active{border-color: $red;}
        &:nth-child(2n - 1){margin-right: 12px;}
        &:nth-child(2n){margin-left: 12px;}
        &--solo{border:none; margin: 0; width: 100%;     padding: 49px 0px 10px;}
        &--inslider{width: 100%; border:none;
            .address__tab b{width: 84px;}
        }
    }
    &__dept{color: #9F9F9F; font-size: 12px; margin-bottom: 13px;}
    &__title{margin-bottom: 15px;}
    &__place{margin-bottom: 18px;}
    &__tab{margin-bottom: 38px;
        p{margin: 0 0 6px; display: flex;}
        b{width: 124px; display: inline-block; flex-shrink: 0;}
    }
    &__btn{}
}
.breadcrumbs{color: #fff; letter-spacing: 0.05em; font-family: 'Arial';
    a{color: #fff;   text-decoration: underline;  }
    &--solo{color: rgba(77, 77, 77, 0.5);
        a{ color: rgba(77, 77, 77, 0.5); }
    }
}
.backarrow{width: 32px;height: 32px; padding: 3px; margin: 39px 0 23px;
    svg{transform: scaleX(-1);}
}
.catalog-nav{position: relative; min-height: 420px;
    &--small{min-height: 1px;
        .catalog-nav__bread{padding-top: 32px;}
        .breadcrumbs{color: $black;
            a{color: $black;}
        }
    }
    &__bg{position: absolute; z-index: 0; width: 100%; height: 100%; top: 0;left: 0;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    &__top{ font-family: 'Arial'; font-weight: 700; background: rgba(51, 51, 51, 0.5); position: relative;z-index: 10; overflow: hidden; height: 80px;
        .mbox{height: 100%; padding:0 0 17px; box-sizing: content-box; overflow-x: auto; overflow-y: hidden}
        ul{list-style-type: none; padding: 0; justify-content: space-between; display: flex; align-items: center; margin: 0; width: 100%;}
        li{flex-grow: 1; text-align: center; padding: 0 15px; height: 80px; display: flex; justify-content: center;align-items: center;
            &.active{background-color: $red;}
        }
        a{color: #fff; text-transform: uppercase;
            &:hover{opacity: 0.7;}
        }

    }
    &__bread{padding-top: 28px;}
    &__bottom{position: absolute; bottom: 0; left: 0; width: 100%;}
    &__title{color: #fff; padding: 37px 20px 24px; border-left: 16px solid $red;  background-color: rgba(0,0,0,0.5); display: block; width: 100%;
        h1{font-size: 48px; margin: 0; text-transform: uppercase;}
    }
}
.card{padding-top: 14px; padding-bottom: 33px;
    &__wrap{display: flex;}
    &__info{width: calc(100% - 400px); padding-left: 32px; position: relative;}
    &__gallery{width: 400px; }
    &__gal-main{margin-bottom: 14px;}
    &__gal-nav{margin-bottom: 0; width: calc(100% - 110px);}
    &__slide-main{ height: 400px;
        img{width: 100%; height: 100%; object-fit: contain;}
    }
    &__slide-nav-wrap.slick-current .card__slide-nav{border:1px solid $red;}
    &__slide-nav{height: 56px; width: 56px; cursor: pointer;
        img{width: 100%; height: 100%; object-fit: contain;}
    }
    &__gal-bottom{display: flex; justify-content: space-between;}
    &__arrows{width: 110px; display: flex;justify-content: space-between;align-items: center; flex-shrink: 0; padding-left: 14px;}
    &__arrow{width: 32px; height: 32px; padding: 7px 3px;
        &.disabled{opacity: 0.5; pointer-events: none;}
    }
    &__prev{
        svg{transform: scaleX(-1);}
    }
    &__godown{width: 32px; height: 32px; padding: 3px;
        svg{transform: rotate(90deg);}
    }

    &__buy{position: absolute; right: 0; top: 18px;
        .btn{min-width: 185px;}
    }
    &__choose{padding-top: 10px;
        p{ margin: 9px 0;}
        i{color: #C4C4C4;font-style: normal;}
    }
    &__item{width: 100%; display: flex; padding-bottom: 3px;}
    &__title{width: 218px; padding-right: 15px; flex-shrink: 0;}
    &__input{flex-grow: 1;  }
    &__radio{position: relative;  cursor: pointer;
        span{text-decoration: underline;}
        input{position: absolute;left: 0;top: 0;opacity: 0; pointer-events: none;}
        input:checked + *{color: $red; font-weight: 700; text-decoration: none; font-family: 'Arial';}
    }
    &__param{ padding:0 6px 8px 0;   cursor: pointer;   display: inline-flex; align-items: flex-start; vertical-align: top;  }
    &__table{padding-top: 10px;
        table{width: 100%;}
        th,td{padding: 4px 8px; text-align: center;}
        th{background-color: #F5F6F7; }
    }
    &__tooltip{background-color: #fff; padding: 12px 16px; position: absolute; z-index: 400;box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.25); pointer-events: none; max-width: 220px; font-size: 14px;
        p{margin-bottom: 0;}
    }
}
.first{display: flex; flex-direction: column; justify-content: space-between; align-items: center; position: relative; pointer-events: none;
    &__bg{width: 100%; height: 100vh;
        img{width: 100%; height: 100%; object-fit: cover;}
    }
    &.screen{padding-top: 0;}
    &__top{height: 300px;}
    &__mid{width: 100%; color: #fff; min-height: 137px; position: relative; }
    &__bot{width: 100%; color: #fff; padding: 20px 0 43px;
        .mbox{display: flex;justify-content: space-between;align-items: center;}
    }
    &__clicks{   text-transform: uppercase;
        a{color: #fff;
            &:not(:first-child){ margin-left: 32px;}
            &[color=red]{color: $red ;}
            &:hover{text-decoration: none; opacity: 0.7;}
        }
    }
    &__title{color: #fff; padding: 24px 20px 27px; border-left: 16px solid $red; font-size: 64px; background-color: rgba(0,0,0,0.5); display: inline-block; position: absolute;top: 0; opacity: 0; transition: opacity 300ms;
        &.active{opacity: 1;}
    }
    &__slider{width: 100%; height: 100%; margin-bottom: 0; position: absolute; left: 0;top: 0; pointer-events: none;}
    &__slide{position: relative; display: block; pointer-events: all;}
}
.filter{ position: relative; z-index: 100; padding-bottom: 34px; font-family: 'Arial';
    &__arr{display: block; width: 24px; height: 19px;}
    &__cross{display: none; width: 18px; height: 18px;}
    &__mobbtn{display: none; justify-content: space-between; align-items: center;
        svg{width: 100%; height: 100%;}
        &.active{
            .filter__arr{display: none;}
            .filter__cross{display: block;}
        }
    }
    &__mob{display: none;}
    &__top{font-family: 'Arial'; font-weight: 400;  display: flex;justify-content: space-between; text-transform: uppercase; padding: 58px 0 21px;
        p{margin: 0;}
    }
    &__btn { position: relative; width: 100%; text-align: left; height: 60px; border-top: 1px solid $black; padding:0 12px; z-index: 1;
        &:before,
        &:after { content: ''; display: block; position: absolute; background-color: $black;}
        &:before {width: 16px; height: 2px; right: 12px;top: calc(50% - 1px);}
        &:after {width: 2px;height: 16px; right: 19px; top: calc(50% - 8px);}
        &:hover{color: $black;}
        &.active:after{display: none;}
    }
    &__list{   display: none; padding-bottom: 50px; position: absolute; background-color: #fff; width: 100%;
        ul{list-style-type: none; padding: 6px 15px;   margin: 0;
            &.styled-scroll{overflow-y: auto;  max-height: 214px;}
        }
        li:not(:last-child){margin-bottom: 12px;  }
        button{ position: absolute; bottom: 0; left: 0; width: 100%; padding:0 12px 9px; margin-bottom: 0; text-align: left;}
    }
    &__item{width: 200px; margin: 0 8px; position: relative; flex-grow: 1; background-color: #fff;
        &.active{z-index: 100;
            .filter__list{display: block;
                &:before{box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); content: ''; position: absolute; left: 0; top: -59px; width: 100%; height: calc(100% + 59px);   z-index: 0; }
            }
        }
    }
    &__row{display: flex; margin: 0 -8px; align-items: flex-start;}
}
.filtered{ margin-bottom: 60px;
    &__slider{padding-bottom: 100px; overflow: hidden; margin: 0 -16px; padding-top: 17px;
        .slick-list{overflow: visible;z-index: 20;}
    }
    &__slide-wrap{padding: 6px;}
    &__slide{width: 166px; position: relative; margin: 0 auto; display: block;
        &:hover .photomat__info{display: block;}
        .photomat__img{height: 150px;}
        .photomat__info{display: none;   width: 100%; position: absolute; left: 0;top: 0;   }
    }
    &__sorter{height: 21px; overflow: hidden;}
    &__sorter-wrap{display: flex; justify-content: space-between; overflow-x: auto; box-sizing: content-box; height: 100%; padding-bottom: 20px;
        &--start{justify-content: flex-start;}
    }
    &__sorter-btn{text-transform: uppercase; white-space: nowrap;
        b{ font-weight: 400;}
        &:not(:last-child){ margin-right: 28px;}

        &.active{color: $pressed;
            b{font-weight: 700;}
        }
    }
    &__img{ height: 166px; padding: 8px; width: 100%;
        img{object-fit: cover; width: 100%; height: 100%;}
    }
    &__text{padding: 0 9px;}
    [data-filter=pano],
    [data-filter=video]{
        .filtered__slide{width: 216px;}
    }
    [data-filter=info]{
        .filtered__slide{width: 312px;}
    }
    &__decor{ width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: flex;justify-content: center;align-items: center;
        svg{width: 50px; height: 50px;}
    }
    .slider__next{right: 19px;}
    .slider__prev{left: 19px;}
}
.footer{background-color: #F5F6F7; width: 100%;
    &__wrap{display: flex; justify-content: space-between; align-items: flex-start;}
    &__info{display: flex; justify-content: flex-end;   padding-top: 51px;
        .map__text{width: 174px;padding-right: 10px;
            &:first-child{width: 253px;}
            &:last-child{width: 280px;
                p{margin-top: 12px;}
            }
        }
    }
    .map__text p{margin-top: 22px; line-height: 1.325;}
}
.form{
    &__row{display: flex;
        .map__input{flex-grow: 1;
            &:not(:last-child){margin-right: 8px;}
        }
    }
    &__wrap{display: flex;}
    &__text{width: 211px; flex-shrink: 0; margin-left: 47px;
        .map__text{width: 100%;}
    }
}
.fancybox-navigation .fancybox-button[disabled]{opacity: 0;}
.fancybox-toolbar{display: none;}
.fancybox-navigation .fancybox-button{background-color: $red; visibility: visible; opacity: 1;}
header{
    &.inverse{
        .header{background-color: rgba(0,0,0,0.2);
            &__call{ font-family: 'ArialBlack';
                a{color: #fff;}
            }
            svg{fill: #fff;}
            &__input svg{fill: $black;}
        }
    }
    &.fixed{position: fixed; z-index: 250; left: 0;top: 0; width: 100%;}
}
.header{width: 100%; background-color: #fff;
    &__left{display: flex; align-items: center;  transition: opacity 200ms;}
    &__right{display: flex; align-items: center;  transition: opacity 200ms;}
    &__wrap{display: flex;justify-content: space-between;align-items: center;  height: 136px; position: relative;
        &.active{
            .header__left,
            .header__right{opacity: 0;}
            .header__search{opacity: 1; pointer-events: all;transform:scaleX(1);}
        }
    }
    &__button{  height: 32px;  border: none; display: flex; justify-content: center; align-items: center; padding: 0; margin-right: 2px;
        &--login{width: 25px;}
        &--search{width: 27px; margin-left: 36px; }
        &--menu{width: 27px; margin-left: 34px;}
        svg{width: 100%; height: 100%;}
        &:hover{opacity: 0.7;}
    }
    &__logo{width: 186px; margin-right: 35px; display: block;
        svg{width: 100%; height: 100%;}
    }
    &__call{ font-family: 'Arial'; font-weight: 400;
        a{color: $black;
            &:hover{text-decoration: none; opacity: 0.7;}
        }
    }
    &__search{right: 0; width: 100%; opacity: 0; position: absolute; top: 36px; pointer-events: none; transition: all 200ms; transform-origin: 100% 50%; transform:scaleX(0);}
    &__input{width: 100%; position: relative;
        input{border: 1px solid #333333; background-color: #fff; width: 100%; height: 56px; padding: 0 56px 0 20px;}
        button{position: absolute; right: 0; top: 0; height: 56px; padding: 19px; width: 56px;   }
    }
    &__clicks{font-family: 'Arial'; font-weight: 700; display: flex;justify-content: space-between; text-transform: uppercase; padding-top: 18px;
        a:hover{text-decoration: none; opacity: 0.7;}
    }
}
.gmap{position: relative;
    .mbox{position: absolute;top: 0; left: 50%; transform:translateX(-50%); padding-top: 16px; display: flex;flex-direction: column; pointer-events: none;}
    &__map{width: 100%; height: 780px;
        &--solo{height: 500px;}
    }
    &__input-wrap{width: 50%; flex-grow: 1; padding: 0 12px; margin-bottom: 14px;
        p{margin: 0 0 3px; width: 100%;}
    }
    &__input{width: 100%; position: relative;
        &--cross{display: none;}
        &--big{display: none; }
        input{border: 1px solid #333333; background-color: #fff; width: 100%; height: 56px; padding: 0 56px 0 20px;}
        button{position: absolute; right: 0; top: 0; height: 56px; padding: 19px 12px; width: 42px;  }
    }
    &__clicks{font-family: 'Arial'; font-weight: 700; display: flex;justify-content: space-between; text-transform: uppercase; padding: 1px 12px 0; width: 100%;
        &--close{display: none;}
        &--close-big{display: none;}
        &--search{display: none;}
    }
    &__search{background-color: #fff; padding: 14px 0 16px; width:  282px; transition: width 200ms; display: flex; justify-content: flex-start;align-items: flex-start; flex-wrap: wrap; pointer-events: all;
        &.show{ width: 100%;
            .gmap__clicks--search{display: block;}
            .gmap__clicks--close{display: block;}
            .gmap__clicks--open-big{display: none;}
        }
        &.active{width: 100%;
            .gmap__clicks--search{display: block;}
            .gmap__clicks--close-big{display: block;}
            .gmap__clicks--open-big{display: none;}
            .gmap__input--start{display: none;}
            .gmap__input--big{display: block;}
            .gmap__input--cross{display: block;}
        }
    }
    &__filter-mob,
    &__filter{background-color: #fff; width:  282px; flex-grow: 1; flex-direction: column; margin-top: 7px; font-family: 'Arial'; pointer-events: all;
        * {user-select: none;}
    }
    &__filtitle{position: relative; text-transform: uppercase; height: 59px; display: flex;justify-content: flex-start; align-items: center; padding:14px 12px 0;width: 100%; cursor: pointer;
        &:after{content: ''; display: block; width: 8px; height: 8px; border-right:2px solid $black; border-top:2px solid $black; transform: rotate(135deg); position: absolute;right: 22px;top: 28px;}
        &.active{ border-bottom:1px solid $black;
            &:after{transform: rotate(-45deg); top: 33px;}
        }
    }
    &__filbody{padding: 0 12px; max-height: calc(100vh - 665px); overflow-y: auto; min-height: 343px;}
    &__filbox{display: none;
        &.active{display: block;}
    }
    &__catitle{position: relative; height: 63px; display: flex;justify-content: flex-start; align-items: center;    width: 100%; border-bottom:1px solid $black;
        &:before,
        &:after{width: 14px; height: 2px;background-color: $black; content: ''; position: absolute;right: 0; top: 50%; }
        &:before{transform:rotate(90deg);}
        &.active{
            &:before{display: none;}
        }
    }
    &__subtitle{position: relative;  display: flex;justify-content: flex-start; align-items: center;     width: 100%; padding-left:36px; margin: 13px 0;
        &:before,
        &:after{width: 14px; height: 2px;background-color: $black; content: ''; position: absolute;left: 0; top: calc(50% - 2px);}
        &:before{transform:rotate(90deg);}
        &.active:before{display: none;}
        & + .gmap__group{  padding-left:20px;}
    }
    &__subcat{margin-bottom: 9px;}
    &__group{padding-left: 23px; display: none; border-bottom:1px solid $black;
        &.active{display: block; }
        .gmap__group{border-bottom: none; padding-left: 0; padding-bottom: 10px;}
        .gmap__catitle{border-bottom: 0;}
        .gmap__subtitle + .gmap__group{  padding-left:34px;}
        p{margin: 0 0 3px;}
    }
    &__filbottom{display: flex; flex-direction: column; align-items: flex-start; justify-content: flex-start; padding: 23px 12px 15px; text-transform: uppercase; border-top: 1px solid #333333;
        a:not(:last-child){margin-bottom: 24px;}
    }

}
.menus{left: 100%; top: 0; position: fixed; height: 100vh; width: 100%; z-index: 300;}
.menu-main{max-width: 576px; width: 100%; position: absolute;right: 0; top: 0; padding: 140px 32px 73px; height: 100%; overflow-y: auto; transition: right 300ms; background-color: #fff; box-shadow: -2px 0px 8px rgba(51, 51, 51, 0.25);
    &.active{right: 100%;}
    &__close{width: 30px;height: 30px; padding: 6px; position: absolute; top: 54px; right: 29px;
        &:hover{opacity: 0.7;}
    }
    &__content{font-size: 24px;letter-spacing: 0.05em;
        ul{list-style-type: none; padding: 0;margin: 0;}
        li{margin-bottom: 30px;}
    }
    &__bottom{position: absolute;bottom: 0;left: 0;width: 100%; display: flex; justify-content: space-between; align-items: center;padding: 0 32px 42px;
        .first__clicks a{ color: $black;
            &[color=red]{color: $red ;}
        }
    }
    &__oldlink{color: #9F9F9F; letter-spacing: 0.05em; cursor: pointer; display: inline-block;}
}

.map{
    &__map{ padding-top: 25px;  }
    &__tooltip{position: absolute; z-index: 400;  color: #fff;padding: 12px 12px 7px;border-left: 16px solid #E81A2C;font-size: 16px;background-color: rgba(0, 0, 0, 0.5);pointer-events: none; text-transform: uppercase;}
    &__wrap{display: flex; padding-top: 19px;}
    &__left{display: flex; flex-direction: column; justify-content: space-between; flex-shrink: 10; width: 100%; padding-right: 30px;}
    &__form{width: 282px; flex-shrink: 3; padding-bottom: 32px;}
    &__info{display: flex;}
    &__text{ margin-right: 10px; width: 33.33%;
        ul{margin:10px 0 ;padding: 0; list-style-type: none;}
        li{margin-bottom: 18px;}
        a{text-decoration: underline; line-height: 1;
            &:hover{color: $red;}
        }
        p{margin-top: 10px;}
        &--mob{display: none; margin-bottom: 10px;
            button{width: 100%; text-align: left;}
            b{display: block; padding: 8px 0; border-top:1px solid $red; border-bottom:1px solid $red; position: relative;
                &:before{content: ''; width: 12px;height: 12px; border-top:1px solid $red; border-right:1px solid $red; transform: rotate(135deg); position: absolute;right: 3px; top: 7px;}
            }
            button.active b:before{transform: rotate(-45deg); top: 14px;}

            ul{display: none;
                &.active{display: block;}
            }
        }
    }
    &__input{margin-bottom: 24px;}
    &__agree{font-size: 10px; display: flex; padding: 0 15px; margin-top: -15px; margin-bottom: 25px;
        p{margin: 0 0 0 8px; line-height: 1.3;}
    }
}
.magaz{
    &__slider{padding-bottom: 0;}
    &__slide{max-width: 200px; padding: 0 10px;}
    &__img{width: 100px; height: 100px; padding: 8px; display: flex;justify-content: center;align-items: center; margin: 0 auto;
        svg{width: 100%; height: 100%; fill: $red;}
    }
    &__text{text-align: center; line-height: 21px; color: #000;}
}
.material{
    &__slide-wrap{padding:0 6px 6px;}
    &__slide{width: 100%; height: 191px; position: relative; margin: 0 auto;
        img{width: 100%;height: 100%; }
    }
    &__slider{ padding-bottom: 89px;
        .slider__prev{left: 6px;}
        .slider__next{right: 6px;}
    }
    &__title{background-color: rgba(51,51,51, 0.3); height: 54px; left: 0; top: 8px; width: calc(100% - 12px); position: absolute; font-size: 24px; color: #fff; padding: 12px; text-transform: uppercase; white-space: nowrap; overflow: hidden;  text-overflow: ellipsis;}
}
.minititle{border-bottom: 1px solid $black; text-transform: uppercase; padding-bottom: 14px;margin-bottom: 15px; margin-top: 15px;}
.mobile{
    .result__item:hover:after,
    .result__item:hover .result__bottom{display: none;}
    .photomat__hover{display: none;}
    .slider__prev,
    .slider__next{display: none;}
    .filtered__img{display: none;}
    [data-filter=video],
    [data-filter=pano],
    [data-filter=info]{
        .filtered__img{display: block;}
    }
    .filtered{margin-bottom: 40px;
        .slick-dots {  position: relative;  }
    }
    .filtered__slider{padding-bottom: 0;}
    .filtered__slide .photomat__info{display: block; box-shadow: none; position: relative;}
    .paginator{
        .slider__prev,
        .slider__next{display: block;}
    }
}
.news{
    &__row{display: flex; padding-top: 20px; }
    &__item{width: 25%; padding: 32px 32px 73px; position: relative;
        h2{height: 112px;}
    }
    &__href{margin-top: 50px; text-transform: uppercase; position: absolute; bottom: 10px;left: 0; padding: 0 32px; font-weight: 700; letter-spacing: 0.05em;}
    &__date{font-size: 12px;}
}
.photomat{ padding-bottom: 100px; margin-bottom: 20px; overflow: hidden;
    .slick-list{overflow: visible;}
    .slider__next{right: 0;}
    &__wrap{}
    &__slide{ position: relative; }
    &__hover{position: absolute; cursor: pointer; z-index: 0;
        &:hover{z-index: 10;
            .photomat__info{display: block;}
        }
    }
    &__plus{width: 21px; height: 21px; left: -10px; top: -10px; border-radius: 50%; background-color: $red; position: absolute;
        &:before,
        &:after{content: ''; width: 9px;height: 1px; background-color: #fff; position: absolute; top: 10px; left: 6px;}
        &:before{transform:rotate(90deg);}
    }
    &__info{padding: 8px; width: 126px;  background: #FFFFFF;  box-shadow: 0px 0px 8px rgba(51, 51, 51, 0.25);  display: none;}

    &__img{width: 100%; height: 110px;
        img{object-fit: cover; width: 100%; height: 100%;}
    }
    &__text{font-weight: 700; padding-top: 8px;
        p{margin: 0;}
    }
    &__bg{width: 100%;
        img{width: 100%;}
    }
}
.popup{padding: 0;
    &--small{width: 296px;}
    &__content{padding: 20px; min-height: 200px;
        &--center{display: flex;justify-content: center; align-items: center; text-align: center;}
    }
}
.paginator{position: relative; display: flex;justify-content: center;align-items: center; height: 60px;}
.result{ padding-bottom: 90px;
    &__wrap{display: flex; flex-wrap: wrap;  margin: 0 -12px;}
    &__item{padding: 12px; width: 33%; position: relative; cursor: pointer; display: block;
        &:hover{z-index: 100;
            .result__bottom{display: flex;}
            &:after{box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25); content: ''; width: 100%; height: calc(100% + 85px); top: 0;left: 0; display: block; position: absolute;  z-index: 0;}
            .result__top:before{ background: linear-gradient(0deg, rgba(51, 51, 51, 0.3), rgba(51, 51, 51, 0.3)); content: ''; width: 100%; height: 100%; top: 0;left: 0; display: block; position: absolute;}
        }
    }
    &__top{position: relative; z-index: 1;}
    &__title{background: rgba(51, 51, 51, 0.35); text-transform: uppercase; color: #fff; height: 73px; font-size: 24px; position: absolute; top: 12px; width: calc(100% - 8px); padding: 16px;}
    &__bg{width: 100%; height: 274px;
        img{width: 100%;height: 100%; object-fit: cover;}
    }
    &__bottom{overflow: hidden; display: none; position: absolute; width: 100%; top: 100%; padding:0 12px 12px; left: 0; z-index: 1; background-color: #fff;
        &:before{content: ''; width: 65px;height: 73px; right: 0; top: 0; background-image: url(../images/Rectangle3.png); display: block; z-index: 30; position: absolute;}

    }
    &__preview{margin-right: 8px; width: 73px; height: 73px; flex-shrink: 0;
        img{width: 100%;height: 100%; object-fit: cover;}
    }
}
.share{margin-bottom: 20px;
    &__title{margin-bottom: 4px;}
    &__row{border-top: 1px solid #000000; display: inline-block; padding-top: 15px;}
    &__icon{width: 32px;height: 32px; margin-right: 3px;  padding: 5px; display: inline-flex;justify-content: center;align-items: center;
        svg{width: 100%; height: 100%;}
    }
}
.screen{height: 100vh; width: 100%; padding-top: 136px;}
.slider{
    &__arrow{width: 60px; height: 60px;background-color: $red; padding: 18px; bottom: 0; position: absolute; z-index: 10; display: block;
        svg{fill: #fff; width: 100%; height: 100%;}
        &:hover{background-color: $hover;
            svg{fill: #fff;}
        }
        &:active{background-color: $pressed;
            svg{fill: #fff;}
        }
        &.slick-disabled{display: none!important;}
    }
    &__prev{left: 0;

    }
    &__next{right: 8px;}
}
.slick-dots{bottom: 2px; padding: 0 80px;
    li{ display: inline-flex;justify-content: center;align-items: center;
        button{padding: 0; width: 8px; height: 8px;background-color: $black; border-radius: 50%; font-size: initial;
            &:before{display: none;}
        }
        &.slick-active button{background-color: $red;}
    }
}
.slider4el{ padding-bottom: 84px;
    &__wrap{padding:19px 9px 0;}
    &__slide{position: relative; width: 100%; height: calc(100vh - 380px); display: block; min-height: 144px;
        &:hover{
            .slider4el__text{ background-color: rgba(0,0,0,0.8); }
        }
    }
    &__bg{width: 100%; height: 100%;
        img{width: 100%;height: 100%; object-fit: cover; object-position: 50% 100%;}
    }
    &__text{color: #fff;position: absolute; padding: 8px 20px 8px 16px; border-left: 16px solid $red; transition: background 300ms;   background-color: rgba(0,0,0,0.5);  left: -8px; bottom: 16px; text-transform: uppercase; width: 100%; min-height: 112px; line-height: 1.25;
        h2, h3, h4, h5, h6{margin: 0;}
    }
}
.styled__checkbox{position: relative; cursor: pointer; display: flex;
    input{position: absolute;left: 0;top: 0;opacity: 0; pointer-events: none;}
    i{display: inline-block; margin-right: 10px; width: 18px;height: 18px; border: 2px solid $black; position: relative; border-radius: 2px; flex-shrink: 0;
        &:before{content: ''; width: 10px; height: 6px; border-bottom: 2px  solid #fff;  border-left: 2px  solid #fff; transform: rotate(-45deg); position: absolute; left: 2px;top: 2px; opacity: 0;}
    }
    input:checked + i{border-color: $red; background-color: $red;
        &:before{opacity: 1;}
    }
}
.styled-scroll{
    &::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  background-color: #F2F2F2; }
    &::-webkit-scrollbar {  width: 6px;  background-color: #F2F2F2; }
    &::-webkit-scrollbar-thumb {background-color: $red;}
}
.social-button{display: inline-block; width: 32px;height: 32px; padding: 2px; cursor: pointer; margin-right: 3px; vertical-align: top;
    svg{width: 100%; height: 100%;}
    &:hover{opacity: 0.7;}
    &--vk{padding: 9px 4px;}
    &--facebook{padding: 5px 10px;}
    &--instagram{padding: 6px;}
    &--youtube{padding: 8px 4px;}
}
.texter{margin-bottom: 50px; padding-bottom: 10px;
    p{margin-bottom: 22px;}
}
.tp-screen{position: absolute; top: -100%; transition: top 600ms; overflow: hidden; left: 0;
    &.tp-screen-active{top: 0; overflow: initial; height: auto; min-height: 100vh;}
    &__bar{height: 100%; width: 6px; position: fixed;right: 0; top: 0; background-color: #f2f2f2;z-index: 400;}
    &__scroll{  width: 100%; position: absolute;left: 0;  background-color: $red; min-height: 10px;}
}
.title{text-transform: uppercase;
    h2{margin: 30px 0; display: inline-block;   }
}
.textures{ padding-top: 24px; padding-bottom: 29px;
    &__wrap{display: flex;}
    &__col{width: 50%;
        &:last-child{padding-left: 20px;}
    }
}
.upbutton{ width: 60px; height: 60px; background: #FFFFFF; border: 1px solid #000000; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); padding: 16px 21px; pointer-events: all; right: 20px; top: 10px; position: absolute;
    svg{width: 100%; height: 100%;}
    &__mbox{position: absolute; left: 50%; bottom: 40px; transform:translateX(-50%); pointer-events: none; z-index: 20;}
}
.marker-text{color: #fff; font-weight: 700; font-size: 12px; padding: 4px 7px; display: flex;align-items: center;
    svg{width: 20px;height: 26px; margin-right: 10px;}
}
.gm-ui-hover-effect{opacity: 0;}
.gm-style .gm-style-iw-c{background-color:  rgba(51,51,51,0.5); padding: 0; border-radius: 1px; transform: translate(-17px, 6px)}
.gm-style .gm-style-iw-t::after{display: none;}
.gm-style .gm-style-iw-d{overflow: auto!important;}
@media screen and (max-width: 1200px){
    .filtered__slider{margin: 0; padding: 0 0 70px; }
    .filtered__slide{width: 100%;}
    .filtered .slider__prev{left: 0;}
    .filtered .slider__next{right: 0;}
    .filtered .slick-list{margin: 0 -8px;}
    .filtered__slide-wrap{padding: 0;}
    .filtered .slick-dots{position: relative;}
    .filtered [data-filter=info] .filtered__slide,
    .filtered [data-filter=pano] .filtered__slide,
    .filtered [data-filter=video] .filtered__slide{width: 100%;}
    .card__item--wraped{flex-wrap: wrap;}
    .card__title{width: 160px;}

}
@media screen and (max-width: 1024px){
    .about{
        &__item{padding: 12px;}
        &__title{font-size: 18px; min-height: 102px;
            span{font-size: 52px;}
        }
    }
    .article__item{width: 50%;}
    .form{
        &__row{flex-direction: column;
            .map__input:not(:last-child){margin-right: 0;}
        }
        &__text{width: 50%;}
        .btn{width: 100%;}
    }
    .card__buy .btn{min-width: 136px;}
    .card__slide-nav{width: 32px; height: 32px;}
    .card__info{width: calc(100% - 200px); padding-left: 24px;}
    .card__gallery{width: 200px;}
    .card__slide-main{height: 200px;}
    .catalog-nav__title{padding: 18px 20px;
        h1{font-size: 24px;}
    }
    .card__gal-nav {  width: calc(100% - 90px);  }
    .card__arrows{width: 90px; padding-left: 10px;}
    .catalog-nav{min-height: 280px;
        &--small{min-height: 1px;}
    }
    .first__title{font-size: 52px;}
    .footer__wrap{flex-direction: column; align-items: flex-start; padding-top: 25px;}
    .footer__info{padding-top: 10px; width: 100%;
        .map__text{ margin-right: 10px;}
    }
    .map{
        &__map{display: none;}
        &__info{flex-direction: column;}
        &__form{width: 100%; flex-shrink: 10;}
        &__text{width: 100%; margin-right: 0; }
        &__left{order: 3; padding-right: 0; padding-left: 30px;}
        &__text--mob{display: block;}
    }
    .menu-main{padding : 50px 20px 0;
        &__content{font-size: 18px;}
        &__close{top: 10px; right: 10px;}
        &__oldlink{display: none;}
        &__bottom{justify-content: flex-end; padding: 20px;}
    }
    .news{
        &__row{flex-wrap: wrap;}
        &__item{width: 50%; padding: 30px 15px;
            h2{height: auto; min-height: 90px; margin-top: 4px;}
        }
    }
    .screen{height: auto; min-height: 1px; padding-top: 40px;
        &.first{min-height: 100vh;}
    }
    .slider4el__slide{min-height: 320px;}
    .textures{
        &__wrap{flex-direction: column;}
        &__col{width: 100%; margin-bottom: 15px;
            &:last-child{padding-left: 0;}
        }
    }
    .material{
        &__slide{width: 100%; height: 144px;}
        &__slider{padding-bottom: 70px; margin-bottom: 0;
            .slider__prev{left: 0;}
            .slider__next{right: 0;}
            .slick-list{margin: 0 -8px;  }
        }
    }
    .photomat{padding-bottom: 70px; margin-bottom: 0;}
    .filter__row{flex-wrap: wrap;}
    .filter__item{width: calc(33.33% - 16px); flex-grow: 0;}

    .result__item{width: 50%;}
    .slick-dots li{width: 10px; height: 10px;}
}
@media screen and (max-width: 767px){
    h2{font-size: 20px; margin: 24px 0;}
    h3{font-size: 18px;}
    .article__item.filtered__text{width: calc(50% - 24px);}
    .catalog-nav--small .catalog-nav__bread,
    .catalog-nav__bread{padding-top: 10px;}
    .breadcrumbs{font-size: 12px;}
    .catalog-nav{min-height: 204px;
        &--small{min-height: 1px;}
        &__top{height: 48px; font-size: 14px;
            li{height: 48px;}
        }
    }
    .card{font-size: 14px;
        &__info{width: 100%; padding-left: 0;}
        &__gallery{width: 100%;}
        &__gal-nav{width: 100%;}
        &__wrap{flex-direction: column;}
        &__arrows{display: none;}
        &__buy{position: relative; text-align: center; margin-bottom: 15px;}
    }
    .form{
        &__text{display: none;}
    }
    .first__title{font-size: 28px;}
    .filter__item{width: calc(50% - 16px);  }
    .header{
        &__call{display: none;}
        &__logo{width: 109px;height: 30px;}
        &__wrap{height: 60px;} 
        &__search{background-color: #fff; width: calc(100% + 40px); left: -20px; padding: 20px; top: 0;}
    }
    .about{
        &__row{padding-top: 0; flex-direction: column;}
        &__item{width: 100%; padding: 10px 0;
            p{margin: 0;}
        }
        &__title{min-height: 1px; margin: 0 0 8px; height: auto; align-items: center;
            b{padding-top: 0;}
        }
    }
    .map{
        &__left{padding-left: 0; width: 100%; order: 0;}
        &__form{width: 100%;}
        &__wrap{flex-direction: column;}
        &__agree{padding: 0;}
    }
    .minititle{padding-bottom: 0;}
    .main.notmain{padding-top: 60px;}
    .news{
        &__row{padding-top: 0;}
        &__item{width: 100%; padding:   0 0 36px;
            h2{  min-height: 1px; margin-top: 4px; margin-bottom: 10px;}
            a{position: relative; padding: 0; bottom: auto;}
            p{margin-top: 10px; line-height: 1.325;}
        }
    }
    .slider4el__slide{height: 331px; min-height: 1px;}
}
@media screen and (max-width: 600px){
    h1,h2{font-size: 20px;}
    .article__slider-wrap{float: none; width: 100%;}
    .article__item{padding: 0; width: 100%;}
    .article__date{margin-bottom: 10px;}
    .article__list{margin: 0; padding-top: 0;}
    .article__item.filtered__text{width: 100%; margin:0 0 10px  ;}
    .article__item.filtered__text .btn--download{margin-bottom: 10px;}
    .article__img{height: 150px;}
    .article__title{margin: 8px 0;}
    .article__info{margin-bottom: 10px; height: auto;}
    .backarrow{margin: 16px 0 0;}
    .card__buy{width: 100%;
        .btn{width: 100%;}
    }
    .card__table{overflow-x: scroll; width: 100%; }
    .card__table-wrap{ min-width: 600px;}
    .card__item--wraped{flex-direction: column;
        .card__title{width: 100%;}
        .card__input{width: 100%;}
    }
    .gmap{
        &__filter{width: 100%; }
        &__filtitle{border-bottom: 1px solid $black;}
        &__search.show .gmap__clicks--close{display: none;}
        &__search.show .gmap__clicks--open-big{display: block;}
        &__search.active .gmap__clicks--open-big{display: none;}
        &__search{width: 100%;}
        &__map{height: 360px;}
        &__map--solo{height: 292px;}
        .mbox{position: relative; left: 0; transform: none; padding: 0;}
        &__filbody{min-height: 1px; display: none;}
        &__filbottom{
            a:not(:last-child){display: none;}
        }
        &__filbox{display: block;
            &.active{
                .gmap__filbody{display: block;}
                .gmap__filbottom a:not(:last-child){display: block;}
            }
        }
        &__showfilter{width: 100%;}
        &__input-wrap{width: 100%;}
    }
    .address__item:nth-child(2n){margin-left: 0;}
    .address__item:nth-child(2n - 1){margin-right: 0;}
    .address__item{width: 100%; border:none;}
    .slider .mbox{padding: 0 14px;}
    .header__button--menu,
    .header__button--search{margin-left: 12px;}
    .filter{padding-bottom: 0;
        &__btn:after{right: 7px;}
        &__btn:before{right: 0;}
        &__mobbtn{display: flex; border-bottom: 1px solid $black; padding: 13px 0 ; align-items: center;
            p{margin:6px 0 0; text-transform: uppercase;}
        }
        &__row{margin: 0;}
        &__item{width: 100%; padding: 0; margin: 0; border-bottom: 1px solid $black;
            &.active .filter__list:before{display: none;}
        }
        &__list{position: relative;
            ul{}

            button{padding: 0;}
        }
        &__content{flex-direction: column-reverse; display: none;
            &.active{display: flex;
                position: absolute;
                width: 100%;
                left: 0;
                padding: 0 10px;
                background-color: #fff;
            }
        }
        &__top{flex-direction: column;   margin-top: 45px; padding-top: 22px; padding-bottom: 0;
            p{display: none;}
            a{margin-bottom: 27px;}
        }
        &__btn{padding: 0; border-top: none; height: 59px;}
        &__mob{display: block;}
    }
    .footer__info{flex-direction: column;
        .map__text{ margin-right: 0;padding-bottom: 10px;}
    }
    .result__item{width: 100%;}
    .result__bg{height: 150px;}
}
[data-text]{cursor: pointer;
    &:hover{fill: $black;
        path{fill: $black;}
    }
}
path[data-text]:hover{fill: $black;}
.group-svg  path{stroke: #F5F6F7; fill: transparent;}
.group-svg:hover  path{stroke: #333;}
