<div class="catalog-nav__top">
    <div class="mbox">
        <ul>
            <li><a href="#">Дизайн</a></li>
            <li class="active"><a href="#">дерево</a></li>
            <li><a href="#">камень </a></li>
            <li><a href="#">мрамор</a></li>
            <li><a href="#">технический керамогранит</a></li>
            <li><a href="#">вертикаль</a></li>
            <li><a href="#">облицовочная плитка</a></li>
            <li><a href="#">цемент</a></li>
            <li><a href="#">декоративные изделия</a></li>
        </ul>
    </div>
</div>