<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="mbox">
        <div class="footer__wrap">
            <a href="index.html" class="header__logo">
                <svg><use xlink:href="#logo"></use></svg>
            </a>
            <div class="footer__info">
                <div class="map__text">
                    <b>Центральный офис:</b>
                    <p>г. Москва, Научный проезд, д.14А, стр.3</p>
                </div>
                <div class="map__text">
                    <b>Телефон:</b>
                    <p>+7 495 775 60 40</p>
                </div>
                <div class="map__text">
                    <b>Мы в социальных сетях:</b>
                    <p>
                        <a href="#" class="social-button social-button--vk"><svg><use xlink:href="#vk"></use></svg></a>
                        <a href="#" class="social-button social-button--facebook"><svg><use xlink:href="#facebook"></use></svg></a>
                        <a href="#" class="social-button social-button--instagram"><svg><use xlink:href="#instagram"></use></svg></a>
                        <a href="#" class="social-button social-button--youtube"><svg><use xlink:href="#yotube"></use></svg></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER -->

