<!-- HEADER -->
<div class="header">
    <div class="mbox">
        <div class="header__wrap" data-dropdown-box="search">
            <div class="header__left">
                <a href="index.html" class="header__logo">
                    <svg><use xlink:href="#logo"></use></svg>
                </a>
                <div class="header__call">
                    <a href="tel:+74957756040">ЗВОНИТЕ + 7 495 775 60 40</a>
                </div>
            </div>
            <div class="header__right">
                <a href="#"  class="header__button header__button--login">
                    <svg><use xlink:href="#login"></use></svg>
                </a>
                <button type="button" class="header__button header__button--search" data-dropdown-btn="search">
                    <svg><use xlink:href="#search"></use></svg>
                </button>
                <button type="button" class="header__button header__button--menu" data-dropdown-btn="mainmenu">
                    <svg><use xlink:href="#menu"></use></svg>
                </button>
            </div>
            <div class="header__search">
                <div class="header__input">
                    <input type="text" placeholder="Поиск">
                    <button type="button" onclick="$(this).prev().val('')">
                        <svg><use xlink:href="#close"></use></svg>
                    </button>
                </div>
                <div class="header__clicks">
                    <a href="#" data-dropdown-close="search">ЗАКРЫТЬ поиск</a>
                    <a href="#" color="red">НАЙТИ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /HEADER -->

