<div class="hidden-block">

    <div id="call_success">
        <div class="call-success">
             <div class="call_success">
                 <div class="call-title">Спасибо за заявку!</div>
                 <div class="call-subtitle">Мы свяжемся с Вами в ближайшее время</div>
             </div>
        </div>
    </div>

    <div id="contacts-popup" class="popup popup--small">
       <div class="popup__content popup__content--center">
           <p>К сожалению, по запросу <b>“Волгоград Estima Ceramica”</b> ничего не найдено.   </p>
       </div>
       <div class="popup__bottom">
           <a href="#" class="btn btn--full"><b>сбросить запрос</b></a>
       </div>
    </div>

</div>