<div class="menus">
    <div class="menu-main" data-dropdown-box="mainmenu">
        <button type="button" class="menu-main__close" data-dropdown-close="mainmenu">
            <svg><use xlink:href="#close"></use></svg>
        </button>
        <div class="menu-main__content">
            <ul>
                <li><a href="#" color="red"><b>ГЛАВНАЯ</b></a></li>
                <li><a href="#"><b>КАТАЛОГ</b></a></li>
                <li><a href="#"><b>ДОКУМЕНТЫ</b></a></li>
                <li><a href="#"><b>ПОРТФОЛИО</b></a></li>
                <li><a href="#"><b>НОВОСТИ И СОБЫТИЯ</b></a></li>
                <li><a href="#"><b>КОНТАКТЫ</b></a></li>
                <li><a href="#"><b>О КОМПАНИИ</b></a></li>
            </ul>
        </div>
        <div class="menu-main__bottom">
            <a class="menu-main__oldlink"><b>ПЕРЕЙТИ НА СТАРУЮ ВЕРСИЮ САЙТА</b></a>
            <div class="first__clicks">
                <a href="#" color="red"><b>ENG</b></a>
                <a href="#"><b>RU</b></a>
            </div>
        </div>
    </div>
</div>