//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="mbox">
            <div class="breadcrumbs breadcrumbs--solo">
                <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <a href="#"><b>Дизайн</b></a> - <a href="#"><b>Textile</b></a> - <b>TX 00</b>
            </div>
            <button class="backarrow">
                <svg><use xlink:href="#filter-arrow"></use></svg>
            </button>
            <div class="title">
                <h1>5 победителей премии INMYROOM 2018</h1>
            </div>
            <div class="article">
                <div class="article__date">
                    <span>10.01.2019</span>
                    <div class="article__tag">Новости</div>
                </div>
                <p><img src="images/demo/Rectangle4.jpg" alt=""></p>

                <p>Компания Estima Ceramica выступила партнером премии INMYROOM 2018. <br>
                    Итоги голосования уже подведены! <br>
                    Приглашаем Вас познакомиться с лучшими интерьерами 2018 года на сайте события. </p>

                <div class="article__slider-wrap">
                    <div class="article__slider js-article__slider">
                        <a href="images/demo/Rectangle4.jpg" data-fancybox="unicid123" class="article__slide">
                            <img src="images/demo/Rectangle4.jpg" alt="">
                        </a>
                        <a href="images/demo/Rectangle4.jpg" data-fancybox="unicid123" class="article__slide">
                            <img src="images/demo/Rectangle4.jpg" alt="">
                        </a>
                    </div>
                </div>
                <p> 3 декабря в Ульяновске компания ESTIMA Ceramica провела встречу  с местными дизайнерами интерьеров. </p>
                <p>  Вечер начался с семинара, посвященного истории компании,  ее ассортиментной программе, преимуществах для потенциальных клиентов. Семинар провела продакт-менеджер головного представительства ESTIMA Ceramica в Москве Наталья Балахнина. </p>
                <p> Продолжила мероприятие культурно-развлекательная и познавательная программа, подготовленная по мотивам передач популярного федерального телеканала ТНТ. Гостям встречи было предложено разделиться на команды и принять участие в конкурсах. От них требовалось показать умение логически мыслить и проявить артистические способности. Участники конкурсов получили возможность заработать «эсткоины» – своеобразную криптовалюту от компании ESTIMA Ceramica. </p>
                <p> Всем гостям запомнилось выступление профессионального фокусника, который на глазах у изумленной публики творил настоящие чудеса. </p>
                <p> Кульминацией вечера стал аукцион, где можно было реализовать
                    3 декабря в Ульяновске компания ESTIMA Ceramica провела встречу  с местными дизайнерами интерьеров. </p>
                <p> Вечер начался с семинара, посвященного истории компании,  ее ассортиментной программе, преимуществах для потенциальных клиентов. Семинар провела продакт-менеджер головного представительства ESTIMA Ceramica в Москве Наталья Балахнина. </p>
                <p>  Продолжила мероприятие культурно-развлекательная и познавательная программа, подготовленная по мотивам передач популярного федерального телеканала ТНТ. Гостям встречи было предложено разделиться на команды и принять участие в конкурсах. От них требовалось показать умение логически мыслить и проявить артистические способности. Участники конкурсов получили возможность заработать «эсткоины» – своеобразную криптовалюту от компании ESTIMA Ceramica. </p>
                <p> Всем гостям запомнилось выступление профессионального фокусника, который на глазах у изумленной публики творил настоящие чудеса.  </p>
                <p>  Кульминацией вечера стал аукцион, где можно было реализовать  </p>
            </div>
            <div class="share">
                <div class="share__title"><b>Поделиться</b></div>
                <div class="share__row">
                    <div class="share__icon"><svg><use xlink:href="#share-vk"></use></svg></div>
                    <div class="share__icon"><svg><use xlink:href="#share-facebook"></use></svg></div>
                    <div class="share__icon"><svg><use xlink:href="#share-vk"></use></svg></div>
                </div>
            </div>
        </div>
        <div class="upbutton__mbox mbox">
            <button class="upbutton" onclick="goTo(0);"><svg><use xlink:href="#arrow-up"></use></svg></button>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html


</div>
</body>
</html>