//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="catalog-nav catalog-nav--small">
            //= partials/cat-nav-top.html
            <div class="catalog-nav__bread">
                <div class="mbox">
                    <div class="breadcrumbs">
                        <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <a href="#"><b>Дизайн</b></a> - <a href="#"><b>Textile</b></a> - <b>TX 00</b>
                    </div>

                </div>
            </div>

        </div>
        <div class="card">
            <div class="mbox">
                <div class="card__title">
                    <h1>TX 00</h1>
                </div>
                <div class="card__wrap">
                    <div class="card__gallery">
                        <div class="card__gal-main js-card__gal-main">
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                            </div>
                            <div class="card__slide-main">
                                <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                            </div>
                        </div>
                        <div class="card__gal-bottom">
                            <div class="card__gal-nav js-card__gal-nav">
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/Rectangle2.1.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                                <div class="card__slide-nav-wrap">
                                    <div class="card__slide-nav">
                                        <img src="images/demo/image3.27.jpg" alt="" data-objectfit="contain">
                                    </div>
                                </div>
                            </div>
                            <div class="card__arrows">
                                <button type="button" class="card__arrow card__prev js-card__prev"><svg><use xlink:href="#filter-arrow"></use></svg></button>
                                <button type="button" class="card__arrow card__next js-card__next"><svg><use xlink:href="#filter-arrow"></use></svg></button>
                            </div>
                        </div>


                    </div>
                    <div class="card__info">
                        <div class="card__buy">
                            <button type="button" class="btn">купить</button>
                        </div>
                        <div class="card__choose">
                            <div class="card__item">
                                <div class="card__title">
                                    <p><b>Тип поверхности:</b></p>
                                </div>
                                <div class="card__input">
                                    <p><label class="card__radio"><input name="type" checked="checked" type="radio"><span>Лаппатированный</span></label></p>
                                    <p><label class="card__radio"><input name="type" type="radio"><span>Структурированный</span></label></p>
                                    <p><label class="card__radio"><input name="type" type="radio"><span>Неполированный</span></label></p>
                                    <p><label class="card__radio"><input name="type" type="radio"><span>Полированный</span></label></p>
                                </div>
                            </div>
                            <div class="card__item">
                                <div class="card__title">
                                    <p><b>Доступные размеры:</b></p>
                                    <p>
                                        <label class="card__radio"><input name="cmdm" checked="checked" type="radio"><span>Cm</span></label>
                                        <label class="card__radio"><input name="cmdm" type="radio"><span>Дюймы</span></label>
                                    </p>
                                </div>
                                <div class="card__input">
                                    <p><label class="card__radio"><input name="size" type="radio"><span>60х60 см</span></label></p>
                                    <p><label class="card__radio"><input name="size" type="radio"><span>60х60 см</span></label></p>
                                    <p><label class="card__radio"><input name="size" type="radio"><span>60х60 см</span></label></p>
                                    <p><label class="card__radio"><input name="size" type="radio"><span>60х60 см</span></label></p>
                                </div>
                            </div>
                            <div class="card__item">
                                <div class="card__title">
                                    <p><b>Толщина:</b></p>
                                </div>
                                <div class="card__input">
                                    <p><i>Выберите размер</i></p>
                                </div>
                            </div>
                            <div class="card__item card__item--wraped">
                                <div class="card__title">
                                    <p><b>Характеристики:</b></p>
                                </div>
                                <div class="card__input">
                                    <p>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict01"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict02"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict03"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict04"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict05"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict06"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict07"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict08"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict09"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="32px"><use xlink:href="#pict10"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="32px"><use xlink:href="#pict11"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="32px"><use xlink:href="#pict12"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="32px"><use xlink:href="#pict13"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="32px"><use xlink:href="#pict14"></use></svg></span>
                                        <span class="card__param" data-title="Ректификация" data-tooltip="Дополнительная обработка материала, для безшовной стыковки плитки."><svg width="24px" height="24px"><use xlink:href="#pict15"></use></svg></span>
                                    </p>
                                </div>
                            </div>
                            <div class="card__item card__item--wraped">
                                <div class="card__title">
                                    <p><b>Упаковка:</b></p>
                                </div>
                                <div class="card__input">
                                      <div class="card__table">
                                          <div class="card__table-wrap">
                                              <table border="1">
                                                  <tr>
                                                      <th>Тип упаковки</th>
                                                      <th>Количество</th>
                                                      <th>Метраж</th>
                                                      <th>Вес</th>
                                                  </tr>
                                                  <tr>
                                                      <td>Коробка</td>
                                                      <td>24 кор</td>
                                                      <td>34,56 м2</td>
                                                      <td>954 кг</td>
                                                  </tr>
                                                  <tr>
                                                      <td>Коробка</td>
                                                      <td>24 кор</td>
                                                      <td>34,56 м2</td>
                                                      <td>954 кг</td>
                                                  </tr>
                                              </table>
                                          </div>
                                      </div>
                                </div>
                            </div>
                            <div class="card__item">
                                <div class="card__title">
                                    <p><b>Дополнительная информация:</b></p>
                                </div>
                                <div class="card__input">
                                   <p>
                                       <button type="button" onclick="goTo($('.interiors').offset().top)" class="card__godown"><svg><use xlink:href="#filter-arrow"></use></svg></button>
                                   </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="interiors">
            <div class="mbox">
                <div class="minititle">
                    <b>ИНТЕРЬЕРЫ</b>
                </div>
                <div class="photomat js-photomat">
                    <div class="photomat__wrap">
                        <div class="photomat__slide">
                            <div class="photomat__bg">
                                <img src="images/demo/Rectangle3.58.jpg" alt="">
                            </div>
                            <div class="photomat__hover" style="left: 10%; top:25%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                            <div class="photomat__hover" style="left: 60%; top:15%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                            <div class="photomat__hover" style="left: 30%; top:65%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="photomat__wrap">
                        <div class="photomat__slide">
                            <div class="photomat__bg">
                                <img src="images/demo/Rectangle3.58.jpg" alt="">
                            </div>
                            <div class="photomat__hover" style="left: 10%; top:25%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                            <div class="photomat__hover" style="left: 60%; top:15%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                            <div class="photomat__hover" style="left: 30%; top:65%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="photomat__wrap">
                        <div class="photomat__slide">
                            <div class="photomat__bg">
                                <img src="images/demo/Rectangle3.58.jpg" alt="">
                            </div>
                            <div class="photomat__hover" style="left: 10%; top:25%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                            <div class="photomat__hover" style="left: 60%; top:15%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                            <div class="photomat__hover" style="left: 30%; top:65%;">
                                <div class="photomat__plus"></div>
                                <a href="#" class="photomat__info">
                                    <div class="photomat__img">
                                        <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    </div>
                                    <div class="photomat__text">
                                        Spanish wood YC 09
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>Декоративные изделия</b>
                </div>
                <div class="filtered__sorter">
                    <div class="filtered__sorter-wrap">
                        <button type="button" data-filter="" class="filtered__sorter-btn active"><b>все</b></button>
                        <button type="button" data-filter="01" class="filtered__sorter-btn"><b>бордюр</b></button>
                        <button type="button" data-filter="02" class="filtered__sorter-btn"><b>плинтус</b></button>
                        <button type="button" data-filter="03" class="filtered__sorter-btn"><b>квадрат</b></button>
                        <button type="button" data-filter="04" class="filtered__sorter-btn"><b>мозаика</b></button>
                        <button type="button" data-filter="05" class="filtered__sorter-btn"><b>полоса </b></button>
                        <button type="button" data-filter="06" class="filtered__sorter-btn"><b>комплект ступень</b></button>
                    </div>
                </div>
                <div class="filtered__slider js-filtered__slider">
                    <div data-filter="01" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 01</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="02" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 02</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 03</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 04</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="01" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 01</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="02" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 02</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 03</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="04" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 04</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>рекомендованные сочетания</b>
                </div>
                <div class="filtered__slider js-filtered__slider">
                    <div data-filter="01" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 01</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="02" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 02</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 03</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 04</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="01" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 01</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="02" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 02</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 03</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="04" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 04</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>Дополнительная информация</b>
                </div>
                <div class="filtered__sorter">
                    <div class="filtered__sorter-wrap filtered__sorter-wrap--start">
                        <button type="button" data-filter="video" class="filtered__sorter-btn active"><b>Видео</b></button>
                        <button type="button" data-filter="pano" class="filtered__sorter-btn"><b>Панорамы</b></button>
                        <button type="button" data-filter="info" class="filtered__sorter-btn"><b>каталоги и сертификаты</b></button>
                    </div>
                </div>
                <div class="filtered__slider js-filtered__slider">
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="images/demo/Rectangle3.58.jpg" data-fancybox="gal01" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="images/demo/Rectangle3.58.jpg" data-fancybox="gal01" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="images/demo/Rectangle3.58.jpg" data-fancybox="gal01" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="#" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>

        <div class="upbutton__mbox mbox">
            <button class="upbutton" onclick="goTo(0);"><svg><use xlink:href="#arrow-up"></use></svg></button>
        </div>
    </div>


    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html
</div>
</body>
</html>