//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="catalog-nav">
            //= partials/cat-nav-top.html
            <div class="catalog-nav__bread">
                <div class="mbox">
                    <div class="breadcrumbs">
                        <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <b>тест</b>
                    </div>

                </div>
            </div>
            <div class="catalog-nav__bg">
                <img src="images/demo/Rectangle3.jpg" data-objectfit="cover" alt="">
            </div>
            <div class="catalog-nav__bottom">
                <div class="mbox">
                    <div class="catalog-nav__title"> <h1>керамогранит estima textile</h1> </div>
                </div>
            </div>
        </div>
        <div class="filter">
            <div class="mbox">
                <div class="filter__mobbtn" data-dropdown-btn="filter__mobbtn">
                    <p>Фильтр</p>
                    <div class="filter__arr"> <svg><use xlink:href="#filter-arrow"></use></svg></div>
                    <div class="filter__cross"> <svg><use xlink:href="#close"></use></svg></div>

                </div>
                <div class="filter__content" data-dropdown-box="filter__mobbtn">
                    <div class="filter__top">
                        <p>Фильтр</p>
                        <a href="#" class="filter__mob"><b>применить фильтр</b></a>
                        <a href="#" color="red"><b>сбросить фильтр</b></a>
                    </div>
                    <div class="filter__row">
                        <div class="filter__item"  data-dropdown-box="f02">
                            <button class="filter__btn" type="button" data-dropdown-btn="f02"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list">
                                <ul class="styled-scroll">
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f03">
                            <button class="filter__btn" type="button" data-dropdown-btn="f03"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list"  >
                                <ul>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f04">
                            <button class="filter__btn" type="button" data-dropdown-btn="f04"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list"  >
                                <ul class="styled-scroll">
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f05">
                            <button class="filter__btn" type="button" data-dropdown-btn="f05"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list" >
                                <ul>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="textures">
            <div class="mbox">
                <div class="textures__wrap">
                    <div class="textures__col">
                        <div class="material__slider js-material__slider">
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00 wfw regr re er gergreg</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                            <a href="#" class="material__slide-wrap">
                                <div class="material__slide">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                    <div class="material__title">
                                        <b>tx00</b>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="textures__col">
                        <div class="photomat js-photomat">
                            <div class="photomat__wrap">
                                <div class="photomat__slide">
                                    <div class="photomat__bg">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="">
                                    </div>
                                    <div class="photomat__hover" style="left: 10%; top:25%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                 <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                    <div class="photomat__hover" style="left: 60%; top:15%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                    <div class="photomat__hover" style="left: 30%; top:65%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="photomat__wrap">
                                <div class="photomat__slide">
                                    <div class="photomat__bg">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="">
                                    </div>
                                    <div class="photomat__hover" style="left: 10%; top:25%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                    <div class="photomat__hover" style="left: 60%; top:15%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                    <div class="photomat__hover" style="left: 30%; top:65%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="photomat__wrap">
                                <div class="photomat__slide">
                                    <div class="photomat__bg">
                                        <img src="images/demo/Rectangle3.58.jpg" alt="">
                                    </div>
                                    <div class="photomat__hover" style="left: 10%; top:25%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                    <div class="photomat__hover" style="left: 60%; top:15%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                    <div class="photomat__hover" style="left: 30%; top:65%;">
                                        <div class="photomat__plus"></div>
                                        <a href="#" class="photomat__info">
                                            <div class="photomat__img">
                                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                            </div>
                                            <div class="photomat__text">
                                                Spanish wood YC 09
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>Декоративные изделия</b>
                </div>
                <div class="filtered__sorter">
                    <div class="filtered__sorter-wrap">
                        <button type="button" data-filter="" class="filtered__sorter-btn active"><b>все</b></button>
                        <button type="button" data-filter="01" class="filtered__sorter-btn"><b>бордюр</b></button>
                        <button type="button" data-filter="02" class="filtered__sorter-btn"><b>плинтус</b></button>
                        <button type="button" data-filter="03" class="filtered__sorter-btn"><b>квадрат</b></button>
                        <button type="button" data-filter="04" class="filtered__sorter-btn"><b>мозаика</b></button>
                        <button type="button" data-filter="05" class="filtered__sorter-btn"><b>полоса </b></button>
                        <button type="button" data-filter="06" class="filtered__sorter-btn"><b>комплект ступень</b></button>
                    </div>
                </div>
                <div class="filtered__slider js-filtered__slider">
                    <div data-filter="01" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 01</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="02" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 02</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 03</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 04</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="01" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 01</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="02" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 02</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="03" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 03</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="04" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 04</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="05" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 05</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div data-filter="06" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <a href="#" class="photomat__info">
                                <div class="photomat__img">
                                    <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                                </div>
                                <div class="photomat__text">
                                    <b>Spanish wood YC 06</b>
                                    <p>25x25</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>Дополнительная информация</b>
                </div>
                <div class="filtered__sorter">
                    <div class="filtered__sorter-wrap filtered__sorter-wrap--start">
                        <button type="button" data-filter="video" class="filtered__sorter-btn active"><b>Видео</b></button>
                        <button type="button" data-filter="pano" class="filtered__sorter-btn"><b>Панорамы</b></button>
                        <button type="button" data-filter="info" class="filtered__sorter-btn"><b>каталоги и сертификаты</b></button>
                    </div>
                </div>
                <div class="filtered__slider js-filtered__slider">
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="images/demo/Rectangle3.58.jpg" data-fancybox="gal01" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="images/demo/Rectangle3.58.jpg" data-fancybox="gal01" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="images/demo/Rectangle3.58.jpg" data-fancybox="gal01" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <a href="#" class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </a>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="video" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#video"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/Rectangle3.58.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="pano" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__img">
                                <img src="images/demo/image3.27.jpg" data-objectfit="cover" alt="">
                            </div>
                            <div class="filtered__decor">
                                <svg><use xlink:href="#panorama"></use></svg>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>
                    <div data-filter="info" class="filtered__slide-wrap">
                        <div class="filtered__slide">
                            <div class="filtered__text">
                                <p>Сертификат</p>
                                <p><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></p>
                                <a href="#" class="btn--download">
                                    <svg><use xlink:href="#download"></use></svg>
                                    <span>4 531 Kb</span>
                                </a>
                                <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
        <div class="texter">
            <div class="mbox">
                <div class="minititle"></div>
                <p>Новая коллекция Textile продолжает дальнейшее развитие серии «Цемент», которая является воплощением изящества, простоты и лаконичности самых распространенных строительных материалов – бетона и цемента.</p>
                <p>Благодаря применению технологии цифровой печати коллекция Textile достоверно имитирует текстуру тканого полотна, создавая элегантный и современный дизайн на «цементной» поверхности керамогрантной плитки. Коллекция представлена в 5 форматах и в двух цветовых гаммах: холодные серые тона и теплые бежевые, коричневые оттенки.</p>
                <p>Сочетание форматов и цветов в данной коллекции, а также использование новых видов 3D декоров позволяет получить стильный и гармоничный интерьер.</p>
            </div>
        </div>

        <div class="upbutton__mbox mbox">
            <button class="upbutton" onclick="goTo(0);"><svg><use xlink:href="#arrow-up"></use></svg></button>
        </div>
    </div>


    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html
</div>
</body>
</html>