//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="mbox">
            <div class="breadcrumbs breadcrumbs--solo">
                <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <a href="#"><b>Дизайн</b></a> - <a href="#"><b>Textile</b></a> - <b>TX 00</b>
            </div>
            <div class="title">
                <h1>КонтактЫ</h1>
            </div>
        </div>
        <div class="gmap">
            <div class="mbox">
                <div class="gmap__search"  data-dropdown-box="search-big">
                    <div class="gmap__input-wrap gmap__input--start">
                        <div class="gmap__input ">
                            <input type="text" placeholder="Поиск">
                            <button class="gmap__input--cross" type="button" onclick="$(this).prev().val('')">
                                <svg><use xlink:href="#close"></use></svg>
                            </button>
                            <button class="gmap__input--lupa" type="button">
                                <svg><use xlink:href="#search"></use></svg>
                            </button>
                        </div>
                    </div>
                    <div class="gmap__input-wrap gmap__input--big">
                        <p>Наименование торговой точки</p>
                        <div class="gmap__input">
                            <input type="text"  >
                            <button class="gmap__input--cross" type="button" onclick="$(this).prev().val('')">
                                <svg><use xlink:href="#close"></use></svg>
                            </button>
                        </div>
                    </div>
                    <div class="gmap__input-wrap gmap__input--big">
                        <p>Город расположения</p>
                        <div class="gmap__input">
                            <input type="text" >
                            <button class="gmap__input--cross" type="button" onclick="$(this).prev().val('')">
                                <svg><use xlink:href="#close"></use></svg>
                            </button>
                        </div>
                    </div>
                    <div class="gmap__input-wrap gmap__input--big">
                        <p>Юридическое лицо</p>
                        <div class="gmap__input">
                            <input type="text" >
                            <button class="gmap__input--cross" type="button" onclick="$(this).prev().val('')">
                                <svg><use xlink:href="#close"></use></svg>
                            </button>
                        </div>
                    </div>
                    <div class="gmap__input-wrap  gmap__input--big">
                        <p>Сайт</p>
                        <div class="gmap__input">
                            <input type="text"  >
                            <button class="gmap__input--cross" type="button" onclick="$(this).prev().val('')">
                                <svg><use xlink:href="#close"></use></svg>
                            </button>
                        </div>
                    </div>
                    <div class="gmap__clicks">
                        <a href="#" class="gmap__clicks--open-big" data-dropdown-btn="search-big">расширенный поиск</a>
                        <a href="#" class="gmap__clicks--close-big"  data-dropdown-close="search-big">свернуть расширенный поиск</a>
                        <a href="#" class="gmap__clicks--close">свернуть</a>
                        <a href="#" class="gmap__clicks--search"color="red">НАЙТИ</a>
                    </div>
                </div>
                <div class="gmap__filter">
                    <div class="gmap__filtitle" data-dropdown-btn="id003">
                        <span>Фильтр</span>
                    </div>
                    <div class="gmap__filbox" data-dropdown-box="id003">
                        <div class="gmap__filbody styled-scroll" >
                            <div class="gmap__categery">
                                <div class="gmap__catitle" data-dropdown-btn="id001">Территориальность</div>
                                <div class="gmap__group" data-dropdown-box="id001">
                                    <div class="gmap__catitle" data-dropdown-btn="id0011">Россия</div>
                                    <div class="gmap__group" data-dropdown-box="id0011">
                                        <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id002">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id002">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id0022">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id0022">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id0032">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id0032">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                    </div>

                                </div>
                            </div>
                            <div class="gmap__categery">
                                <div class="gmap__catitle" data-dropdown-btn="id101">Территориальность</div>
                                <div class="gmap__group" data-dropdown-box="id101">
                                    <div class="gmap__catitle" data-dropdown-btn="id1011">Россия</div>
                                    <div class="gmap__group" data-dropdown-box="id1011">
                                        <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id102">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id102">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id1022">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id1022">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id1032">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id1032">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                    </div>

                                </div>
                            </div>
                            <div class="gmap__categery">
                                <div class="gmap__catitle" data-dropdown-btn="id201">Территориальность</div>
                                <div class="gmap__group" data-dropdown-box="id201">
                                    <div class="gmap__catitle" data-dropdown-btn="id2011">Россия</div>
                                    <div class="gmap__group" data-dropdown-box="id2011">
                                        <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id002">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id002">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id2022">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id2022">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <div class="gmap__subcat">
                                            <div class="gmap__subtitle" data-dropdown-btn="id2032">Москва</div>
                                            <div class="gmap__group" data-dropdown-box="id2032">
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                                <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                            </div>
                                        </div>
                                        <p><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="gmap__filbottom">
                            <a href="#"><b>применить фильтр</b></a>
                            <a href="#" color="red"><b>сбросить фильтр</b></a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="gmap__map" id="gmap"></div>

        </div>
        <div class="mbox">
            <div class="address">
                <div class="address__item" data-id="76">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="16">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="26">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="36">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="66">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="56">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="46">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="address__item" data-id="86">
                    <div class="address__dept">Региональное представительство</div>
                    <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                    <div class="address__place">Россия, Москва и МО, Москва</div>
                    <div class="address__tab">
                        <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                        <p><b>Телефон:</b>+7 495 775 60 40</p>
                        <p><b>E-mail:</b>estima@estima.ru</p>
                    </div>
                    <div class="address__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
            </div>
            <div class="paginator">
                <a href="#" class="slider__arrow slider__prev"><svg style="transform:scaleX(-1);"><use xlink:href="#filter-arrow"></use></svg></a>
                <b><span color="red">1</span>/30</b>
                <a href="#" class="slider__arrow slider__next"><svg><use xlink:href="#filter-arrow"></use></svg></a>
            </div>

            <div class="form">
                <div class="title">
                    <h2>обратная связь</h2>
                </div>
                <div class="form__wrap">
                    <form class="form__form">
                        <div class="form__row">
                            <div class="map__input">
                                <input type="text" placeholder="Имя" required="required">
                            </div>
                            <div class="map__input">
                                <input type="text" placeholder="Телефон"  required="required">
                            </div>
                            <div class="map__input">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="map__input">
                            <textarea  placeholder="Сообщение"></textarea>
                        </div>
                        <div class="map__agree">
                            <label class="styled__checkbox">
                                <input type="checkbox" required="required" name="agree">
                                <i></i>
                            </label>
                            <p>Нажимая кнопку «СВЯЖИТЕСЬ С НАМИ»,
                                я даю свое согласие на обработку моих персональных данных, в соответствии  с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях  и для целей, определенных в Согласиина обработку персональных данных</p>
                        </div>
                        <div class="map__bttn">
                            <button type="submit" class="btn">Свяжитесь с нами</button>
                        </div>
                    </form>
                    <div class="form__text">
                        <div class="map__text">
                            <b>Центральный офис:</b>
                            <p>г. Москва, Научный проезд, д.14А, стр.3</p>
                        </div>
                        <div class="map__text">
                            <b>Телефон:</b>
                            <p>+7 495 775 60 40</p>
                        </div>
                        <div class="map__text">
                            <b>Мы в социальных сетях:</b>
                            <p>
                                <a href="#" class="social-button social-button--vk"><svg><use xlink:href="#vk"></use></svg></a>
                                <a href="#" class="social-button social-button--facebook"><svg><use xlink:href="#facebook"></use></svg></a>
                                <a href="#" class="social-button social-button--instagram"><svg><use xlink:href="#instagram"></use></svg></a>
                                <a href="#" class="social-button social-button--youtube"><svg><use xlink:href="#yotube"></use></svg></a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_Zgznd98twGzNbUuxkxNEt-JpIggonfg&callback=initMap"
            type="text/javascript"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script>

    var markers = [
            {text: 'Салон “Студия керамики ESTIMA” Москва 1', corY: -31.563910, corX: 147.154312, id: '76'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 2', corY: -33.718234, corX: 150.363181, id: '16'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 3', corY: -33.727111, corX: 150.371124, id: '26'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -33.848588, corX: 151.209834, id: '36'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -33.851702, corX: 151.216968, id: '46'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -34.671264, corX: 150.863657, id: '56'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -35.304724, corX: 148.662905, id: '66'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -36.817685, corX: 175.699196, id: '86'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 1', corY: -36.828611, corX: 175.790222, id: '176'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 2', corY: -37.750000, corX: 145.116667, id: '116'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 3', corY: -37.759859, corX: 145.128708, id: '126'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -37.765015, corX: 145.133858, id: '136'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -37.770104, corX: 145.143299, id: '146'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -37.773700, corX: 145.145187, id: '156'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -37.774785, corX: 145.137978, id: '166'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -37.819616, corX: 144.968119, id: '186'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 1', corY: -38.330766, corX: 144.695692, id: '276'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 2', corY: -39.927193, corX: 175.053218, id: '216'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 3', corY: -41.330162, corX: 174.865694, id: '226'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -42.734358, corX: 147.439506, id: '236'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -42.734358, corX: 147.501315, id: '246'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -42.735258, corX: 147.438000, id: '256'},
            {text: 'Салон “Студия керамики ESTIMA” Москва 4', corY: -43.999792, corX: 170.463352, id: '266'}
    ],
    options = [
        {
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#f5f5f5"
                }
            ]
        },
        {
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#616161"
                }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#f5f5f5"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#bdbdbd"
                }
            ]
        },
        {
            "featureType": "administrative.neighborhood",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#eeeeee"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#757575"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e5e5e5"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "labels",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#757575"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dadada"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#616161"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e5e5e5"
                }
            ]
        },
        {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#eeeeee"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#c9c9c9"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        }
    ],
    zoom = 1,
    centerY = -31.563910,
    centerX = 147.154312;
    function initMap(){
        function initialize() {
            var center = new google.maps.LatLng(centerY,centerX);
            var myOptions = {
                zoom: zoom,
                styles: options,
                center: center,
                disableDefaultUI: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                zoomControlOptions: {
                    position: google.maps.ControlPosition.LEFT_BOTTOM
                }
            }
            var map = new google.maps.Map(document.getElementById('gmap'), myOptions);
            var icon = {
                path: 'M16.5 7.8806C16.5 9.90699 15.4105 12.3545 13.7697 15.0995C12.7345 16.8313 11.5145 18.6284 10.2638 20.4709C9.67125 21.3438 9.07176 22.227 8.48175 23.1181C6.82963 20.8192 4.91971 18.1352 3.37729 15.506C2.5396 14.0781 1.81683 12.6771 1.30453 11.3726C0.790335 10.0632 0.5 8.88032 0.5 7.8806C0.5 3.83936 4.04542 0.5 8.5 0.5C12.9546 0.5 16.5 3.83936 16.5 7.8806Z',
                fillColor: '#E81A2C',
                fillOpacity: 1,
                strokeColor: '#E81A2C',
                strokeWeight: 1
            };
            var  infoWindow = new google.maps.InfoWindow(), i, marker;
            var group1 = [];
            for ( i = 0; i < markers.length; i++ ){
                marker = new google.maps.Marker({
                    position:new google.maps.LatLng(markers[i]['corY'],markers[i]['corX']),
                    map: map,
                    animation: google.maps.Animation.DROP,
                    icon: icon
                });
                group1.push(marker);
                google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                    return function() {
                        infoWindow.setContent('<div class="marker-text"><svg><use xlink:href="#pinn"></use></svg>' + markers[i]['text'] + '</div>');
                        infoWindow.open(map, marker);
                    }
                })(marker, i));
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                       var target = $('[data-id=' + markers[i]['id'] + ']');
                       $('.address__item').removeClass('active');
                       target.addClass('active');
                        goTo(target.offset().top);
                    }
                })(marker, i));

            }
            var mcOptions = {
                gridSize: 50,
                styles: [
                {
                    height: 53,
                    url: "images/m1.png",
                    width: 53
                },
                {
                    height: 53,
                    url: "images/m1.png",
                    width: 53
                }]}

            var markerCluster = new MarkerClusterer(map, group1, mcOptions);




        }
        initialize();

    }
    </script>

</div>
</body>
</html>