//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html

    <div class="main notmain">
        <div class="catalog-nav">
            //= partials/cat-nav-top.html
            <div class="catalog-nav__bread">
                <div class="mbox">
                    <div class="breadcrumbs">
                        <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <b>тест</b>
                    </div>

                </div>
            </div>
            <div class="catalog-nav__bg">
                <img src="images/demo/Rectangle3.jpg" data-objectfit="cover" alt="">
            </div>
            <div class="catalog-nav__bottom">
                <div class="mbox">
                    <div class="catalog-nav__title"> <h1>ДЕКОРАТИВНЫЕ ИЗДЕЛИЯ</h1> </div>
                </div>
            </div>
        </div>
        <div class="filter">
            <div class="mbox">
                <div class="filter__mobbtn" data-dropdown-btn="filter__mobbtn">
                    <p>Фильтр</p>
                    <div class="filter__arr"> <svg><use xlink:href="#filter-arrow"></use></svg></div>
                    <div class="filter__cross"> <svg><use xlink:href="#close"></use></svg></div>

                </div>
                <div class="filter__content" data-dropdown-box="filter__mobbtn">
                    <div class="filter__top">
                        <p>Фильтр</p>
                        <a href="#" class="filter__mob"><b>применить фильтр</b></a>
                        <a href="#" color="red"><b>сбросить фильтр</b></a>
                    </div>
                    <div class="filter__row">
                        <div class="filter__item"  data-dropdown-box="f01">
                            <button class="filter__btn" type="button" data-dropdown-btn="f01"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list">
                                <ul>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f02">
                            <button class="filter__btn" type="button" data-dropdown-btn="f02"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list">
                                <ul class="styled-scroll">
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f03">
                            <button class="filter__btn" type="button" data-dropdown-btn="f03"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list"  >
                                <ul>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f04">
                            <button class="filter__btn" type="button" data-dropdown-btn="f04"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list"  >
                                <ul class="styled-scroll">
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                        <div class="filter__item"  data-dropdown-box="f05">
                            <button class="filter__btn" type="button" data-dropdown-btn="f05"><p>Фактура <span color="red">3</span></p></button>
                            <div class="filter__list" >
                                <ul>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>60х120 (24х48”)</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный</span></label></li>
                                    <li><label class="styled__checkbox"><input type="checkbox" required="required"><i></i><span>Лаппатированный  полированный </span></label></li>
                                </ul>
                                <button type="button" color="red" onclick="resetFilter(this);"><b>СБРОСИТЬ</b></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="result">
            <div class="mbox">
                <div class="result__wrap">
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                    <a href="#" class="result__item">
                        <div class="result__top">
                            <div class="result__title"><b>blue stone </b></div>
                            <div class="result__bg"><img src="images/demo/image2.11.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                        <div class="result__bottom">
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                            <div class="result__preview"><img src="images/demo/Rectangle2.1.jpg" data-objectfit="cover" alt=""></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="upbutton__mbox mbox">
            <button class="upbutton" onclick="goTo(0);"><svg><use xlink:href="#arrow-up"></use></svg></button>
        </div>

    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html
</div>
</body>
</html>