//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="mbox">
            <div class="breadcrumbs breadcrumbs--solo">
                <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <a href="#"><b>Дизайн</b></a> - <a href="#"><b>Textile</b></a> - <b>TX 00</b>
            </div>
            <button class="backarrow">
                <svg><use xlink:href="#filter-arrow"></use></svg>
            </button>
            <div class="minititle">
                <h1>Новости и события</h1>
            </div>
            <div class="filtered__sorter">
                <div class="filtered__sorter-wrap filtered__sorter-wrap--start">
                    <a  href="#"    class="filtered__sorter-btn active"><b>Все</b></a>
                    <a  href="#"   class="filtered__sorter-btn"><b>сертификаты</b></a>
                    <a  href="#"   class="filtered__sorter-btn"><b>каталоги</b></a>
                    <a  href="#"   class="filtered__sorter-btn"><b>статьи</b></a>
                </div>
            </div>
            <div class="article__list">
                <div class="filtered__text article__item">
                     <div class="article__tag">Новости</div>
                    <div class="article__info"><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></div>
                    <a href="#" class="btn--download">
                        <svg><use xlink:href="#download"></use></svg>
                        <span>4 531 Kb</span>
                    </a>
                    <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                </div>
                <div class="filtered__text article__item">
                    <div class="article__tag">Новости</div>
                    <div class="article__info"><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></div>
                    <a href="#" class="btn--download">
                        <svg><use xlink:href="#download"></use></svg>
                        <span>4 531 Kb</span>
                    </a>
                    <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                </div>
                <div class="filtered__text article__item">
                    <div class="article__tag">Новости</div>
                    <div class="article__info"><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></div>
                    <a href="#" class="btn--download">
                        <svg><use xlink:href="#download"></use></svg>
                        <span>4 531 Kb</span>
                    </a>
                    <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                </div>
                <div class="filtered__text article__item">
                    <div class="article__tag">Новости</div>
                    <div class="article__info"><b>Сертификат соотвествия техническому регламенту  о требованиях пожарной безопасности НКСИ </b></div>
                    <a href="#" class="btn--download">
                        <svg><use xlink:href="#download"></use></svg>
                        <span>4 531 Kb</span>
                    </a>
                    <p><a href="#" color="red"><b>ПОДРОБНЕЕ</b></a></p>
                </div>



            </div>
            <div class="upbutton__mbox mbox">
                <button class="upbutton" onclick="goTo(0);"><svg><use xlink:href="#arrow-up"></use></svg></button>
            </div>
        </div>

    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html


</div>
</body>
</html>