//= partials/head.html

<div class="global-wrapper">
    <header>
        //= partials/header.html
    </header>
    <div class="main">
        <div class="mbox">
            <div class="title">
                <h2>СтраницЫ</h2>
            </div>
            <ul>
                <li><a href="main.html">Главная</a></li>
                <li><a href="catalog.html">Каталог</a></li>
                <li><a href="family.html">Семейства</a></li>
                <li><a href="decor.html">ДЕКОРАТИВНЫЕ ИЗДЕЛИЯ</a></li>
                <li><a href="collection.html">колекция</a></li>
                <li><a href="contacts.html">КонтактЫ</a></li>
                <li><a href="magaz.html">КонтактЫ внутряк</a></li>
                <li><a href="card.html">Карточка товара</a></li>
                <li><a href="article.html">Новость</a></li>
                <li><a href="newslist.html">список Новостей</a></li>
                <li><a href="documents.html">документи</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>попап</h2>
            </div>
            <ul>
                <li><a href="#contacts-popup"   data-fancybox> contacts-popup</a></li>
                <li><a href="https://ru.wikipedia.org/wiki/%D0%A1%D0%BE%D0%B4%D1%80%D1%83%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%BE_%D0%9D%D0%B5%D0%B7%D0%B0%D0%B2%D0%B8%D1%81%D0%B8%D0%BC%D1%8B%D1%85_%D0%93%D0%BE%D1%81%D1%83%D0%B4%D0%B0%D1%80%D1%81%D1%82%D0%B2" data-type="iframe" data-fancybox> Iframe</a></li>
            </ul>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html
    <style>
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>