//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="mbox">
            <div class="breadcrumbs breadcrumbs--solo">
                <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <a href="#"><b>Дизайн</b></a> - <a href="#"><b>Textile</b></a> - <b>TX 00</b>
            </div>
            <button class="backarrow">
                <svg><use xlink:href="#filter-arrow"></use></svg>
            </button>
            <div class="title">
                <h1>Салон “Студия керамики ESTIMA” Москва</h1>
            </div>
        </div>
        <div class="gmap">
            <div class="gmap__map gmap__map--solo" id="gmap"></div>
        </div>
        <div class="mbox">
            <div class="address__item address__item--solo" >
                <div class="address__dept">Региональное представительство</div>
                <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                <div class="address__place">Россия, Москва и МО, Москва</div>
                <div class="address__tab">
                    <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                    <p><b>Телефон:</b>+7 495 775 60 40</p>
                    <p><b>E-mail:</b>estima@estima.ru</p>
                    <p><b>Сайт:</b><a href="#">https://pro-gres.ru</a></p>
                </div>
            </div>
        </div>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>преимущества магазина</b>
                </div>
                <div class="filtered__slider js-filtered__slider magaz__slider">
                    <div  class="filtered__slide-wrap">
                        <div class="magaz__slide">
                            <div class="magaz__img">
                                <svg><use xlink:href="#red01"></use></svg>
                            </div>
                            <div class="magaz__text">Выставочный зал</div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="magaz__slide">
                            <div class="magaz__img">
                                <svg><use xlink:href="#red02"></use></svg>
                            </div>
                            <div class="magaz__text">Модель 3D в подарок</div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="magaz__slide">
                            <div class="magaz__img">
                                <svg><use xlink:href="#red03"></use></svg>
                            </div>
                            <div class="magaz__text">Выгодные условия для дизайнеров</div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="magaz__slide">
                            <div class="magaz__img">
                                <svg><use xlink:href="#red04"></use></svg>
                            </div>
                            <div class="magaz__text">Моментальный платеж</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filtered">
            <div class="mbox">
                <div class="minititle">
                    <b>Другие магазины в регионе</b>
                </div>
                <div class="filtered__slider js-filtered__slider" data-active="info">
                    <div  class="filtered__slide-wrap">
                        <div class="address__item address__item--inslider">
                            <div class="address__dept">Региональное представительство</div>
                            <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                            <div class="address__place">Россия, Москва и МО, Москва</div>
                            <div class="address__tab">
                                <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                                <p><b>Телефон:</b>+7 495 775 60 40</p>
                                <p><b>E-mail:</b>estima@estima.ru</p>
                            </div>
                            <div class="address__btn">
                                <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                            </div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="address__item address__item--inslider">
                            <div class="address__dept">Региональное представительство</div>
                            <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                            <div class="address__place">Россия, Москва и МО, Москва</div>
                            <div class="address__tab">
                                <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                                <p><b>Телефон:</b>+7 495 775 60 40</p>
                                <p><b>E-mail:</b>estima@estima.ru</p>
                            </div>
                            <div class="address__btn">
                                <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                            </div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="address__item address__item--inslider">
                            <div class="address__dept">Региональное представительство</div>
                            <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                            <div class="address__place">Россия, Москва и МО, Москва</div>
                            <div class="address__tab">
                                <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                                <p><b>Телефон:</b>+7 495 775 60 40</p>
                                <p><b>E-mail:</b>estima@estima.ru</p>
                            </div>
                            <div class="address__btn">
                                <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                            </div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="address__item address__item--inslider">
                            <div class="address__dept">Региональное представительство</div>
                            <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                            <div class="address__place">Россия, Москва и МО, Москва</div>
                            <div class="address__tab">
                                <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                                <p><b>Телефон:</b>+7 495 775 60 40</p>
                                <p><b>E-mail:</b>estima@estima.ru</p>
                            </div>
                            <div class="address__btn">
                                <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                            </div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="address__item address__item--inslider">
                            <div class="address__dept">Региональное представительство</div>
                            <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                            <div class="address__place">Россия, Москва и МО, Москва</div>
                            <div class="address__tab">
                                <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                                <p><b>Телефон:</b>+7 495 775 60 40</p>
                                <p><b>E-mail:</b>estima@estima.ru</p>
                            </div>
                            <div class="address__btn">
                                <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                            </div>
                        </div>
                    </div>
                    <div  class="filtered__slide-wrap">
                        <div class="address__item address__item--inslider">
                            <div class="address__dept">Региональное представительство</div>
                            <div class="address__title"><b>ESTIMA Ceramica главный офис</b></div>
                            <div class="address__place">Россия, Москва и МО, Москва</div>
                            <div class="address__tab">
                                <p><b>Адрес:</b>г. Москва, Научный проезд, д. 14А, стр.3 </p>
                                <p><b>Телефон:</b>+7 495 775 60 40</p>
                                <p><b>E-mail:</b>estima@estima.ru</p>
                            </div>
                            <div class="address__btn">
                                <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_Zgznd98twGzNbUuxkxNEt-JpIggonfg&callback=initMap"
            type="text/javascript"></script>
    <script>
        var markers = [
                {text: 'Салон “Студия керамики ESTIMA” Москва 1', corY: 11, corX: 11, id: '76'},

            ],
            zoom = 5,
            centerY = 10,
            centerX = 10;
        function initMap(){
            function initialize() {
                var center = new google.maps.LatLng(centerY,centerX);
                var myOptions = {
                    zoom: zoom,
                    center: center,
                    disableDefaultUI: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    zoomControlOptions: {
                        position: google.maps.ControlPosition.LEFT_BOTTOM
                    }
                }
                var map = new google.maps.Map(document.getElementById('gmap'), myOptions);
                var icon = {
                    path: 'M16.5 7.8806C16.5 9.90699 15.4105 12.3545 13.7697 15.0995C12.7345 16.8313 11.5145 18.6284 10.2638 20.4709C9.67125 21.3438 9.07176 22.227 8.48175 23.1181C6.82963 20.8192 4.91971 18.1352 3.37729 15.506C2.5396 14.0781 1.81683 12.6771 1.30453 11.3726C0.790335 10.0632 0.5 8.88032 0.5 7.8806C0.5 3.83936 4.04542 0.5 8.5 0.5C12.9546 0.5 16.5 3.83936 16.5 7.8806Z',
                    fillColor: '#E81A2C',
                    fillOpacity: 1,
                    strokeColor: '#E81A2C',
                    strokeWeight: 1
                };
                var  infoWindow = new google.maps.InfoWindow(), i, marker;
                for ( i = 0; i < markers.length; i++ ){
                    marker = new google.maps.Marker({
                        position:new google.maps.LatLng(markers[i]['corY'],markers[i]['corX']),
                        map: map,
                        animation: google.maps.Animation.DROP,
                        icon: icon
                    });
                    google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
                        return function() {
                            infoWindow.setContent('<div class="marker-text">' + markers[i]['text'] + '</div>');
                            infoWindow.open(map, marker);
                        }
                    })(marker, i));


                }

            }
            initialize();

        }
    </script>

</div>
</body>
</html>