//= partials/head.html

<div class="global-wrapper">
    <header class="fixed">
        //= partials/header.html
    </header>
    //= partials/menus.html
    <div class="main notmain">
        <div class="mbox">
            <div class="breadcrumbs breadcrumbs--solo">
                <a href="#"><b>ESTIMA</b></a> - <a href="#"><b>Каталог</b></a> - <a href="#"><b>Дизайн</b></a> - <a href="#"><b>Textile</b></a> - <b>TX 00</b>
            </div>
            <button class="backarrow">
                <svg><use xlink:href="#filter-arrow"></use></svg>
            </button>
            <div class="minititle">
                <h1>Новости и события</h1>
            </div>
            <div class="filtered__sorter">
                <div class="filtered__sorter-wrap filtered__sorter-wrap--start">
                    <a  href="#"    class="filtered__sorter-btn active"><b>Все</b></a>
                    <a  href="#"   class="filtered__sorter-btn"><b>новости</b></a>
                    <a  href="#"   class="filtered__sorter-btn"><b>конкурсы и акции</b></a>
                    <a  href="#"   class="filtered__sorter-btn"><b>выставки</b></a>
                </div>
            </div>
            <div class="article__list">
                <div class="article__item">
                    <div class="article__img">
                        <img src="images/demo/Rectangle4.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="article__date">
                        <span>10.01.2019</span>
                    </div>
                    <div class="article__tag">Новости</div>
                    <div class="article__title"><b>Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</b></div>
                    <div class="article__info">Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</div>
                    <div class="article__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="article__item">
                    <div class="article__img">
                        <img src="images/demo/Rectangle4.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="article__date">
                        <span>10.01.2019</span>
                    </div>
                    <div class="article__tag">Новости</div>
                    <div class="article__title"><b>Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</b></div>
                    <div class="article__info">Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</div>
                    <div class="article__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="article__item">
                    <div class="article__img">
                        <img src="images/demo/Rectangle4.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="article__date">
                        <span>10.01.2019</span>
                    </div>
                    <div class="article__tag">Новости</div>
                    <div class="article__title"><b>Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</b></div>
                    <div class="article__info">Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</div>
                    <div class="article__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="article__item">
                    <div class="article__img">
                        <img src="images/demo/Rectangle4.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="article__date">
                        <span>10.01.2019</span>
                    </div>
                    <div class="article__tag">Новости</div>
                    <div class="article__title"><b>Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</b></div>
                    <div class="article__info">Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</div>
                    <div class="article__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
                <div class="article__item">
                    <div class="article__img">
                        <img src="images/demo/Rectangle4.jpg" alt="" data-object-fit="cover">
                    </div>
                    <div class="article__date">
                        <span>10.01.2019</span>
                    </div>
                    <div class="article__tag">Новости</div>
                    <div class="article__title"><b>Компания Estima Ceramica выступила партнером премии INMYROOM 2018.</b></div>
                    <div class="article__info">Компания Estima Ceramica выступила партнером Estima Ceramica выступила партнером Estima Ceramica выступила партнером премии INMYROOM 2018.</div>
                    <div class="article__btn">
                        <a href="#" color="red"><b>ПОДРОБНЕЕ</b></a>
                    </div>
                </div>
            </div>

        </div>
        <div class="upbutton__mbox mbox">
            <button class="upbutton" onclick="goTo(0);"><svg><use xlink:href="#arrow-up"></use></svg></button>
        </div>
    </div>
    //= partials/hidden-block.html
    //= partials/footer.html
    //= partials/links.html


</div>
</body>
</html>